.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media screen and (min-width: 93.75em) {
    align-items: flex-end;
  }

  @media screen and (max-width: 64em) and (orientation: portrait) {
    align-items: flex-end;
  }

  &__logo-box {
    display: flex;
    align-items: center;
    gap: 1em;

    @media screen and (min-width: 93.75em) {
      align-items: flex-end;
    }

    @media screen and (max-width: 64em) and (orientation: portrait) {
      align-items: flex-end;
    }
  }

  &__nav {
    align-self: stretch;

    @media screen and (max-width: 34.68em) {
      display: none;
    }
  }

  &__nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    @media screen and (min-width: 93.75em) {
      align-items: flex-end;
    }

    @media screen and (max-width: 64em) and (orientation: portrait) {
      align-items: flex-end;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    border-radius: 50px;
  }
}

.about {
  &__flex-container {
    max-width: 100rem;
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 43.75em) {
      flex-direction: column;
    }
  }

  &__img {
    flex-basis: 48%;

    img {
      display: block;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
    }
  }
  &__info {
    flex-basis: 48%;

    @media screen and (max-width: 43.75em) {
      margin-top: 5rem;
    }

    @media screen and (max-width: 34.68rem) {
      margin-top: 2rem;
    }

    & p:first-child {
      margin-bottom: 1rem;
    }
  }

  .flex-order-1 {
    order: 1;

    @media screen and (max-width: 43.75em) {
      order: 2;
    }
  }

  .flex-order-2 {
    order: 2;

    @media screen and (max-width: 43.75em) {
      order: 1;
    }
  }
}

.made-of {
  .body__header {
    width: 80%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem 0;

    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 43.75em) {
      flex-direction: column;
    }

    &-img {
      flex: 1;

      img {
        width: 100%;
        aspect-ratio: 1;
        margin: auto;
        object-fit: cover;
        object-position: center;
      }
    }

    &-p {
      flex: 1;
      max-width: 60ch;
    }
  }
}

.body {
  &__container {
    width: 100%;
    max-width: 100em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 6em;
    justify-content: center;

    @media screen and(max-width: 112.5em) {
      grid-template-columns: repeat(auto-fill, 325px);
    }

    @media screen and (max-width: 68.75em) {
      grid-template-columns: repeat(auto-fill, 250px);
    }

    @media screen and (max-width: 50em) {
      grid-template-columns: repeat(auto-fill, 190px);
    }

    @media screen and (max-width: 34.68em) {
      grid-template-columns: repeat(auto-fill, 275px);
    }
  }
}

.buttons-container {
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  z-index: 100;
  width: min-content;
  display: flex;
  align-items: center;

  @media screen and (max-width: 34.68em) {
    left: 0;
    top: 0;
    margin-top: 0;
    transform: translateY(0%);
    height: 70px;
  }
}

.mobile {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.35em 1.5em;
  cursor: pointer;

  border: 2px solid var(--color-font);

  background-color: #000;
  color: #fff;

  margin: 0 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  &:focus {
    border: 2px solid var(--color-font);
  }

  @media screen and (max-width: 34.68em) {
    margin: 0 2em;
  }

  @media screen and (min-width: 34.68em) {
    padding: 0.2em 0.3em;
    display: inline-block;

    p {
      display: none;
    }

    &:focus {
      opacity: 0;
    }
  }

  &:hover {
    color: #fff;
  }

  img {
    display: block;
  }

  img {
    display: block;
  }
}

.planets {
  &__info-container {
    display: flex;
    flex-direction: column;
  }
}

.weight,
.jump {
  &__main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;

    @media screen and (max-width: 50em) {
      gap: 1rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.gravity,
.radius {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;

  @media screen and (max-width: 37.5em) {
    flex-direction: column;
    gap: 5rem;
  }
}

.radius {
  gap: 5rem;
}

.gravity,
.radius {
  &__info-container {
    @media screen and (max-width: 37.5em) {
      order: 1;
    }
  }

  &__img {
    @media screen and (max-width: 37.5em) {
      order: 2;
    }
  }
}

.escape-velocity,
.temp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;

  @media screen and (max-width: 37.5em) {
    flex-direction: column;
    gap: 5rem;
  }
}

.jump {
  &__main-container {
    justify-content: flex-end;
  }
}

.size {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 37.5em) {
    flex-direction: column;
  }

  &__main-info-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  &__info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
  }
}
